html{color: #333;}
#view{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
#view article h2{
    text-align: center;
}
.call{
    display:grid;
    grid-template-areas: 
    "numeroappele guichetTitre"
    "ticketnumber GuichetNumber";
    grid-template-columns: 2fr 1fr ;
    margin: 1em 1em;
    border: solid green;
    border-width: thin;
    align-items: center;
}
#group2 .call{ border: solid blue;}
#group3 .call{border: solid purple;}
.call em {
    text-align:center;
    font-style: normal;
}
.GuichetNumber{grid-area: GuichetNumber;}
.numeroappele{grid-area: numeroappele;}
.guichetTitre{grid-area: guichetTitre;}
.ticketnumber{ grid-area: ticketnumber;}
.numeroappele, .guichetTitre{
    font-size: 1.2em;
    background-color: green;
    color:white;
    text-transform: uppercase;
}
#group2 .call .numeroappele, #group2 .call .guichetTitre { background-color: blue;}
#group3 .call .numeroappele, #group3 .call .guichetTitre { background-color: purple;}
#artViewOne .numeroappele, #artViewOne  .guichetTitre { background-color: red;}
.GuichetNumber,  .ticketnumber {
    font-style: normal;
    font-size: 3em;
    color: green;
    background-color: white;
    border: solid green;
    border-width: thin;
    font-weight: bold; 
}

#group2 .call .GuichetNumber, #group2 .call .ticketnumber { background-color: white; color:blue;}
#group3 .call .GuichetNumber, #group3 .call .ticketnumber { background-color: white; color: purple;}
#artViewOne .GuichetNumber, #artViewOne .ticketnumber { background-color: white; color: red;}
#viewOne{
    display: none;
}
#artViewOne .numeroappele, #artViewOne  .guichetTitre{
    font-size: 4em;
}
#artViewOne .GuichetNumber,  #artViewOne .ticketnumber {
    font-size: 15em;
}