/* GRID the page */
html{
  color: #333;
}
body{
  display: grid;
  
  grid-template-areas: "head head"
                      "nav  main"
                      "nav  foot";
  grid-template-columns: 1fr 4fr;
}
header {
  grid-area: head;

  display:grid;
  grid-template-areas: "title headerinfo";
  grid-template-columns: 4fr 1fr;
}
nav {
  grid-area: nav;
}
section {
  grid-area: main;
}

footer {
  grid-area: foot;
}

/* END OF GRIDing*/

header{
  
  border-bottom: thin solid;
  margin-bottom: 1em;
 
}

header h1{
  grid-area: title;
  text-align: center;
  font-size: 150%;
}

header p{
  grid-area: headerinfo;
  font-size:100%;
  text-align: right;
}

nav ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
  }
nav ul li {
  margin-bottom:1em;
}

nav ul li a{
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: underline;
}
footer{

  font-size: 80%;
  text-align: center;
}



/* formulaires */
input[type=text],  input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.forceCaps{
    text-transform: uppercase; 
}
input[type=submit],button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit].little,input[type="text"].little,button.little,select.little{
  width:5em;
  height:auto;
  font-size: 80%;
  padding: 1px 1px;
  margin: 1px 0;
  border-radius: 2px;
}
input[type="checkbox"] {
  margin: 8px 0;
}
select.little{
  height:2em;

}
#show, #hide{
  width: auto;
}
input[type=submit]:hover , button::hover {
  background-color: #45a049;
}

select{
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  height: 34px;
}


/* fieldset */
fieldset p{ width: 100%; display: table;}

fieldset p label
{
  text-align: right;
  width: 20%;
  display: table-cell;
  padding-right: 5px;
}
fieldset p input[type="text"],fieldset p input[type="submit"], .ui-datepicker {

  width: 79%;
  display: table-cell;
}
