<html>
<head>
        <title>Gestionnaire de file d'attente</title>
        <script src="/js/main.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
</head>
<body>
    <!-- BEGIN formulaire -->
    {{formulaire.plop}}
    <section>
        <h2>Appeler un ticket:</h2>
        <select name="guichet">
            <option value=""></option>
            <!-- BEGIN formulaire.guichets -->
            <option value="{{formulaire.guichets.id}}" {{formulaire.guichets.selected}}>{{formulaire.guichets.text}}</option>
            <!-- END formulaire.guichets -->

        </select>
    </section>
    <!-- END formulaire -->
</body>


</html>
