<html>
<head>
        <title>Gestionnaire de file d'attente</title>
        <script src="/js/main.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
        <script>
        var sonnerie = new Audio('/bell.wav');
        var lastTime = 0;
        var guichets={{guichetsJsonList}};
        var guichetsGroupes={{guichetsGroupesJsonList}};
        window.setTimeout(clean_olds_calls, 60000);
        </script>
</head>
<body>
    <!-- BEGIN formulaire -->
    <section id="callsForm"></section>
    <script>
        loadForm({{formulaire.guichet_id}});
    </script>
    <!-- END formulaire -->
    <section id="viewOne">
            <article class="call" id="artViewOne"></article>
    </section>
    <section id="view"></section>
    <script>
            refershCallsView(0);
            {{specificInstructions}}
    </script>
</body>
</html>
